<html>
  <head>
    <title>
    </title>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div id="app">	
        <div v-if='show'> Microsoft </div>
        <div v-else='show'> Google </div>
<!--    <div v-else-if='show'> Facebook  </div>-->
<!--    <div v-if='show'> Microsoft </div>	-->
        <div v-if ='show == show1' > Amazon</div>
        <div class="form-group col-lg-6">
          <input type="text"  class="form-control" v-model='text'>
        </div>
        <div class="form-group col-lg-6">
          <button class="btn btn-success" @click='find'> Show This</button>
        </div>
        <div class="form-group col-lg-6">
          <ol>
            <li v-for='user in users' v-if='user.name == value || user.email = value'>
              <h4>{{user.name}}</h4>
            </li>
          </ol>
        </div>

      </div>
    </div>
    <script>
      new Vue ({
        el: '#app',
        data:
        {
          users : [
          { name: 'Javed' , email : 'javed@staps.us'},
          {name: 'Karim', email : 'karim@staps.us'},
        ],
          show : true,
          show1 : true,
          text :'',
          value : ''
        },
        methods :{
          find :function(){
            this.value = this.text
          }
        }
        
      })
    </script>
  </body>
</html>